<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
  <body>
    <header>
      <%- include('./partials/header') %>

    </header>
    <main class="container">
      <div class="row">

        <section class="productos col-12 col-md-8 col-lg-9 mt-5">
          <h3>Computadoras de escritorio</h3>
          <div class="celulares row py-4 gx-3">
            
              <div class="col-12 col-md-6 col-lg-4 my-2">
            </h4>
        </section>
      </div>
      







    </main>
    <footer>

    </footer>
    <%- include('./partials/scripts') %>
  </body>

</html>